:root {
  --water: #6890F0;
  --flying: #A890F0;
  --ice: #98D8D8;
  --normal: #A8A878;
}

* {
  margin: 0;
  padding: 0;
}

#pokedex {
  top: 20px;
  left: 20px;
  position: absolute;
}

#main-body {
  width: 400px;
  height: 520px;
  border-radius: 20px;
  background-color: #ED2331;
  z-index: 1;
  box-shadow: -2px 2px 1px #6e0910, inset -2px 2px 0px #f9b0b5;
  position: absolute;
}

#separator {
  width: 10px;
  height: 300px;
  border-radius: 1px;
  background: -webkit-linear-gradient(left, #e41321 0%, #b50f1a 50%, #e41321 100%);
  box-shadow: -1px 1px 0px #cc111e;
  left: 393px;
  top: 145px;
  z-index: 3;
  position: absolute;
}

#inside-flap {
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background-color: #ED2331;
  top: 71px;
  left: 398px;
  z-index: 1;
  box-shadow: 0px 2px 1px #6e0910, inset -2px 2px 0px #f9b0b5;
  position: absolute;
}

h1, h2, h3 {
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  margin: 0;
  padding: 0 0 1%;
}

h1 {
  font-size: 18px;
  color: #FFF;
}

h2 {
  font-size: 13px;
  line-height: 150%;
  color: #666;
}

h3 {
  font-size: 10px;
  color: #191715;
}

#big-blue-light, #mini-red-light, #mini-yellow-light, #mini-green-light {
  width: 16px;
  height: 16px;
  border-width: 1.5px;
  border-radius: 50%;
  border-style: solid;
  top: 16.5px;
  position: absolute;
}

#big-blue-light {
  width: 52px;
  height: 52px;
  border-width: 3px;
  top: 15px;
  left: 15px;
  background: -webkit-radial-gradient(#1EFFF3, #07BDFF, #0090FF);
  background: radial-gradient(#1EFFF3, #07BDFF, #0090FF);
  border-color: #9EE5FF;
  position: absolute;
}

#mini-red-light {
  left: 95px;
  background: -webkit-radial-gradient(#FF3277, #ff568f);
  background: radial-gradient(#FF3277, #ff568f);
  border-color: #ffe5ed;
  position: absolute;
}

#mini-yellow-light {
  left: 121px;
  background: -webkit-radial-gradient(#FFD24C, #FFD968);
  background: radial-gradient(#FFD24C, #FFD968);
  border-color: #fff8e5;
  position: absolute;
}

#mini-green-light {
  background: -webkit-radial-gradient(#2CFF19, #4dff3d);
  background: radial-gradient(#2CFF19, #4dff3d);
  left: 146px;
  border-color: #d0ffcc;
  position: absolute;
}

#image-preloader {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

#image-display-container {
  width: 360px;
  height: 260px;
  border-radius: 20px;
  background-color: #DDD;
  top: 91px;
  left: 20px;
  box-shadow: -2px 2px 1px #666, 2px -2px 0px #e6e6e6;
  position: absolute;
}

#image-display {
  width: 320px;
  height: 220px;
  border-radius: 5px;
  background: #FFF;
  top: 20px;
  left: 20px;
  box-shadow: inset 1px 1px 10px #666, inset -1px -1px 10px #666;
  position: absolute;
}

.pokemon-image {
  width: 96px;
  height: 96px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

#info-display {
  width: 320px;
  height: 220px;
  border-radius: 5px;
  background-color: #EEE;
  top: 50px;
  left: 40px;
  padding: 10px;
  box-shadow: inset 1px 1px 10px #666, inset -1px -1px 10px #666;
  position: absolute;
}

.stat-bar {
  height: 10px;
  background-color: #666;
  margin: 2px 0px;
}

#hide-yo-stats {
  display: none;
}

#name-display {
  width: 175px;
  height: 70px;
  border-radius: 5px;
  background-color: #FFF;
  top: 400px;
  left: 40px;
  padding: 15px 15px;
  box-shadow: inset 1px 1px 10px #666, inset -1px -1px 10px #666;
  position: absolute;
}

#left-arrow, #right-arrow {
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  position: absolute;
}

#left-arrow {
  border-right: 35px solid #191715;
  top: 400px;
  left: 250px;
}

#right-arrow {
  border-left: 35px solid #191715;
  top: 400px;
  left: 320px;
}

#stats-button, #add-button {
  width: 120px;
  height: 34px;
  box-shadow: -2px 2px 1px #666, 2px -2px 0px #EEE;
  color: #FFF;
  text-align: center;
  padding: 6px 0px;
  position: absolute;
}

#stats-button {
  border-radius: 5px;
  top: 300px;
  left: 237px;
  background-color: #FFD968;
}

#stats-button:hover {
  background-color: #FFD24C;
}

#stats-button:active {
  background-color: #FFD24C;
  transform: translateY(2px);
}

#add-form {
  top: 350px;
  left: 237px;
  background: #FFF;
  position: absolute;
}

#add-button {
  border-radius: 5px;
  background-color: #DDD;
}

#add-button:hover {
  background-color: #666;
}

#add-button:active {
  background-color: #666;
  transform: translateY(2px);
}
