:root {
  --normal: #A8A878;
  --fighting: #C03028;
  --flying: #A890F0;
  --poison: #A040A0;
  --ground: #E0C068;
  --rock: #B8A038;
  --bug: #A8B820;
  --ghost: #705898;
  --steel: #B8B8D0;
  --fire: #F08030;
  --water: #6890F0;
  --grass: #78C850;
  --electric: #F8D030;
  --psychic: #F85888;
  --ice: #98D8D8;
  --dragon: #7038F8;
  --dark: #705848;
  --fairy: #EE99AC;
}

* {
  margin: 0;
  padding: 0;
}

#pokedex {
  top: 20px;
  left: 20px;
  position: absolute;
}

#main-body {
  width: 500px;
  height: 650px;
  border-radius: 20px;
  background-color: #ED2331;
  z-index: 1;
  box-shadow: -6px 5px 0px #6e0910, inset -4px 4px 0px #f9b0b5;
  position: absolute;
}

#separator {
  width: 14px;
  height: 300px;
  border-radius: 1px;
  background: -webkit-linear-gradient(left, #cc111e 0%, #860b13 50%, #cc111e 100%);
  box-shadow: -1px 1px 0px #cc111e;
  top: 210px;
  left: 489px;
  z-index: 3;
  position: absolute;
}

#inside-flap {
  width: 500px;
  height: 560px;
  border-radius: 25px;
  background-color: #ED2331;
  top: 90px;
  left: 496px;
  z-index: 1;
  box-shadow: -1px 5px 0px #6e0910, inset -4px 4px 0px #f9b0b5;
  position: absolute;
}

#spacing {
  width: 20px;
  height: 20px;
  top: 1210px;
  left: 0;
  position: absolute;
}

@media screen and (max-width: 600px) {
  #pokedex {
    top: 10px;
    left: 10px;
  }
  #inside-flap {
    top: 655px;
    left: 0;
    box-shadow: -6px 5px 0px #6e0910, inset -4px 4px 0px #f9b0b5;
  }
  #separator {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  #spacing {
    display: none;
  }
}

h1, h2, h3 {
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 18px;
  color: #FFF;
  text-align: center;
}

h2 {
  font-size: 16px;
  line-height: 150%;
  color: #666;
}

h3 {
  font-size: 12px;
  color: #191715;
}

#big-blue-light, #mini-red-light, #mini-yellow-light, #mini-green-light {
  width: 20px;
  height: 20px;
  border-width: 1.5px;
  border-radius: 50%;
  border-style: solid;
  top: 31.5px;
  position: absolute;
}

#big-blue-light {
  width: 65px;
  height: 65px;
  border-width: 3px;
  top: 25px;
  left: 25px;
  background: -webkit-radial-gradient(#1EFFF3, #07BDFF, #0090FF);
  background: radial-gradient(#1EFFF3, #07BDFF, #0090FF);
  border-color: #b7fffb;
  position: absolute;
}

#mini-red-light {
  left: 110px;
  background: -webkit-radial-gradient(#FF3277, #ff568f);
  background: radial-gradient(#FF3277, #ff568f);
  border-color: #ffe5ed;
  position: absolute;
}

#mini-yellow-light {
  left: 140px;
  background: -webkit-radial-gradient(#FFD24C, #FFD968);
  background: radial-gradient(#FFD24C, #FFD968);
  border-color: #fff8e5;
  position: absolute;
}

#mini-green-light {
  background: -webkit-radial-gradient(#2CFF19, #4dff3d);
  background: radial-gradient(#2CFF19, #4dff3d);
  left: 170px;
  border-color: #d0ffcc;
  position: absolute;
}

#image-preloader {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#image-display-container {
  width: 444px;
  height: 325px;
  border-radius: 25px;
  background-color: #DDD;
  top: 125px;
  left: 25px;
  box-shadow: -2px 2px 1px #666, 2px -2px 0px #e6e6e6;
  position: absolute;
}

#image-display {
  width: 394px;
  height: 275px;
  border-radius: 6.25px;
  background: #FFF;
  top: 25px;
  left: 25px;
  box-shadow: inset 1px 1px 10px #666, inset -1px -1px 10px #666;
  position: absolute;
}

.pokemon-image {
  width: 160px;
  height: 160px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

#info-display {
  width: 419px;
  height: 300px;
  border-radius: 6.25px;
  background-color: #EEE;
  top: 50px;
  left: 40px;
  padding: 10px;
  box-shadow: inset 1px 1px 10px #666, inset -1px -1px 10px #666;
  position: absolute;
  overflow: hidden;
}

.stat-bar {
  height: 10px;
  background-color: #666;
  margin: 2px 0px;
}

#hide-yo-stats {
  display: none;
}

#left-arrow, #right-arrow {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  top: 522px;
}

#left-arrow {
  border-right: 30px solid #333;
  left: 85px;
}

#name-display {
  width: 200px;
  height: 70px;
  border-radius: 6.25px;
  background-color: #FFF;
  top: 516px;
  left: 149.5px;
  padding: 10px 15px;
  box-shadow: inset 1px 1px 10px #666, inset -1px -1px 10px #666;
  position: absolute;
}

#right-arrow {
  border-left: 30px solid #333;
  left: 384.5px;
}

#stats-button, #add-button, #show-button {
  width: 120px;
  height: 34px;
  box-shadow: -2px 2px 1px #666, 2px -2px 0px #EEE;
  color: #FFF;
  padding: 6px 0px;
  position: absolute;
}

#stats-button {
  border-radius: 6.25px;
  top: 370px;
  left: 40px;
  background-color: #FFD968;
}

#stats-button:hover {
  background-color: #ffcc35;
}

#stats-button:active {
  background-color: #ffcc35;
  transform: translateY(2px);
}

#add-form, #show-form {
  background: #FFF;
  position: absolute;
  padding: 0 1%;
  left: 198px;
}

#add-form {
  top: 489px;
}

#add-button {
  top: 2px;
  left: 138px;
  border: 0px;
  border-radius: 6.25px;
  background-color: #53A2C6;
}

#add-button:hover {
  background-color: #3989ad;
}

#add-button:active {
  background-color: #3989ad;
  transform: translateY(2px);
}

#add-input-field, #show-input-field {
  width: 120px;
  height: 34px;
  border: none;
  margin: 0 0 4px 0;
}

#show-form {
  top: 432px;
}

#show-button {
  top: 2px;
  left: 138px;
  border: 0px;
  border-radius: 6.25px;
  background-color: #83C653;
}

#show-button:hover {
  background-color: #69ad39;
}

#show-button:active {
  background-color: #69ad39;
  transform: translateY(2px);
}

#add-button h1, #show-button h1 {
  letter-spacing: 2px;
}
