@import "partials/colors";
@import "partials/types-colors";
@import "partials/main-containers";
@import "partials/mixins";
@import "partials/font";
@import "partials/lights";
@import "partials/image-display";
@import "partials/info-display";
@import "partials/bottom-section";
