* {
	margin: 0;
	padding: 0;
}

body {
  font-size: 10px;
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", "Courier New", Courier, monospace;
	text-transform: capitalize;
}

h1 {
	font-size: 20px;
}

h2 {
  font-size: 15px;
	color: #666;
}

h3 {
	color: #FFF;
	display: hide;
}

:root {
  --red: #ED2331;
  --black: #191715;
}

/* contain all the things */

#pokedex {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* main body */

#main-body {
  width: 400px;
  height: 520px;
  border-radius: 20px;
  background-color: var(--red);
  position: absolute;
  z-index: 1;
  box-shadow: -2px 2px 1px #6C1017, inset -2px 2px 0px #FDEBEC;
}

#big-blue-button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: -webkit-radial-gradient(#1EFFF3, #07BDFF, #0090FF);
  position: absolute;
  border: 3px solid #9EE5FF;
  top: 15px;
  left: 15px;
}

#mini-red-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: -webkit-radial-gradient(#FF3277, #FF568E);
  position: absolute;
  top: 16.5px;
  left: 95px;
  border: 1.5px solid #FFC7D9;
}

#mini-yellow-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: -webkit-radial-gradient(#FFC826, #FFD968);
  position: absolute;
  top: 16.5px;
  left: 121px;
  border: 1.5px solid #FFF1C9;
}

#mini-green-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: -webkit-radial-gradient(#2CFF19, #BDFF23);
  position: absolute;
  top: 16.5px;
  left: 147px;
  border: 1.5px solid #E1FF9B;
}

#image-display-container {
  width: 360px;
  height: 260px;
  border-radius: 20px;
  background-color: #DDD;
  position: absolute;
  top: 91px;
  left: 20px;
  box-shadow: -2px 2px 1px #666, 2px -2px 0px #EEE;
}

#image-display {
  width: 320px;
  height: 220px;
  border-radius: 5px;
  background-color: #FFF;
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: inset 1px 1px 10px #555, inset -1px -1px 10px #555; /* engraved effect*/
}

#name-display {
	width: 140px;
	height: 50px;
	border-radius: 5px;
	background-color: #FFF;
	position: absolute;
	top: 400px;
	left: 40px;
	box-shadow: inset 1px 1px 10px #555, inset -1px -1px 10px #555; /* engraved effect*/
	padding: 15px 15px;
}

#left-arrow {
	border-top: 35px solid transparent;
	border-right: 35px solid #222;
	border-bottom: 35px solid transparent;
	position: absolute;
	top: 400px;
	left: 250px;
}

#right-arrow {
	border-top: 35px solid transparent;
	border-left: 35px solid #222;
	border-bottom: 35px solid transparent;
	position: absolute;
	top: 400px;
	left: 320px;
}

/* separator */

#separator {
  width: 10px;
  height: 300px;
  border-radius: 1px;
  background: -webkit-linear-gradient(left, #D8202D 0%, #AD1A24 50%, #D8202D 100%);
  box-shadow: -1px 1px 0px #C21D29;
  position: absolute;
  left: 393px;
  top: 145px;
  z-index: 3;
}

/* inside flap */

#inside-flap {
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background-color: var(--red);
  position: absolute;
  top: 71px;
  left: 398px;
  z-index: 1;
  box-shadow: 0 2px 1px #6C1017, inset -2px 2px 0px #FDEBEC;
}

#info-display {
	width: 320px;
  height: 220px;
	border-radius: 5px;
	background-color: #497033;
	position: absolute;
	top: 50px;
	left: 40px;
	box-shadow: inset 1px 1px 10px #555, inset -1px -1px 10px #555; /* engraved effect*/
	padding: 10px;
}

#stats-button {
	width: 120px;
	height: 34px;
	border-radius: 5px;
	background-color: #FFD968;
	position: absolute;
	top: 360px;
	left: 240px;
	box-shadow: -2px 2px 1px #666, 2px -2px 0px #EEE;
	text-align: center;
	color: #FFF;
	padding: 8px 0px;
}
