@import "colors";

$name-position: 516px; // from top
$form-position: 489px; // from top
$button-width: 120px;
$button-height: 34px;
$triangle-width: 30px;

%arrow {
  border-top: $triangle-width solid transparent;
  border-bottom: $triangle-width solid transparent;
  position: absolute;
	top: $name-position + 6;
}

#left-arrow {
  @extend %arrow;
  border-right: $triangle-width solid $darkgray;
	left: 149.5px - 64.5;
}

#name-display {
	width: 200px;
	height: 70px;
	border-radius: $round-border / 4;;
	background-color: $white;
  top: $name-position;
	left: 149.5px;
	padding: 10px 15px;
  @include engraved-effect;
  position: absolute;
}

#right-arrow {
  @extend %arrow;
  border-left: $triangle-width solid $darkgray;
  left: 149.5px + 235;
}

%button {
  width: $button-width;
  height: $button-height;
  box-shadow: -2px 2px 1px $ashgray, 2px -2px 0px $lightgray;
  color: $white;
  padding: 6px 0px;
  position: absolute;
}

#stats-button {
  @extend %button;
  border-radius: $round-border / 4;
  top: 370px;
  left: 40px;
  background-color: $lightyellow;
  &:hover {
    background-color: darken($lightyellow, 10%);
  }
  &:active {
    background-color: darken($lightyellow, 10%);
    transform: translateY(2px);
  }
}

%form {
	background: $white;
	position: absolute;
	padding: 0 1%;
  left: 198px;
}

#add-form {
  @extend %form;
  top: $form-position;
}

#add-button {
	@extend %button;
	top: 2px;
	left: 138px;
	border: 0px;
	border-radius: $round-border / 4;
	background-color: $carolinablue;
	&:hover {
		background-color: darken($carolinablue, 10%);
	}
	&:active {
		background-color: darken($carolinablue, 10%);
		transform: translateY(2px);
	}
}

#add-input-field, #show-input-field {
	width: $button-width;
	height: $button-height;
	border: none;
	margin: 0 0 4px 0;
}

#show-form {
  @extend %form;
  top: $form-position - 57;
}

#show-button {
	@extend %button;
	top: 2px;
	left: 138px;
	border: 0px;
	border-radius: $round-border / 4;
	background-color: $mantisgreen;
	&:hover {
		background-color: darken($mantisgreen, 10%);
	}
	&:active {
		background-color: darken($mantisgreen, 10%);
		transform: translateY(2px);
	}
}

#add-button h1, #show-button h1 {
  letter-spacing: 2px;
}
