@import "colors";

$bottom-left: 516px;
$bottom-right: 370px;
$button-width: 120px;
$button-height: 34px;
$triangle-width: 30px;

%arrow {
  border-top: $triangle-width solid transparent;
  border-bottom: $triangle-width solid transparent;
  position: absolute;
	top: $bottom-left + 6;
}

#left-arrow {
  @extend %arrow;
  border-right: $triangle-width solid $darkgray;
	left: 162.5px - 64.5;
}

#name-display {
	width: 175px;
	height: 70px;
	border-radius: $round-border / 4;;
	background-color: $white;
  top: $bottom-left;
	left: 162.5px;
	padding: 10px 15px;
  @include engraved-effect;
  position: absolute;
}

#right-arrow {
  @extend %arrow;
  border-left: $triangle-width solid $darkgray;
  left: 162.5px + 210;
}

%button {
  width: $button-width;
  height: $button-height;
  box-shadow: -2px 2px 1px $ashgray, 2px -2px 0px $lightgray;
  color: $white;
  padding: 6px 0px;
  position: absolute;
}

#stats-button {
  @extend %button;
  border-radius: $round-border / 4;
  top: $bottom-right;
  left: 336px;
  background-color: $lightyellow;
  &:hover {
    background-color: darken($lightyellow, 10%);
  }
  &:active {
    background-color: darken($lightyellow, 10%);
    transform: translateY(2px);
  }
}

#add-form {
	top: 489px;
	left: 129px;
	background: $white;
	position: absolute;
	padding: 0 1%;
}

#add-input-field {
	width: $button-width;
	height: $button-height;
	border: none;
	margin: 0 0 4px 0;
}

#add-button {
	@extend %button;
	top: 2px;
	left: 138px;
	border: 0px;
	border-radius: $round-border / 4;
	background-color: $carolinablue;
	&:hover {
		background-color: darken($carolinablue, 10%);
	}
	&:active {
		background-color: darken($carolinablue, 10%);
		transform: translateY(2px);
	}
}
