// pokedex
$pokered: #ED2331;
$yellow: #FFD24C;
$lightyellow: #FFD968;
$jetblack: #191715;
$ashgray: #666;
$gray: #DDD;
$lightgray: #EEE;
$white: #FFF;
$hotpink: #FF3277;
$brightgreen: #2CFF19;


// TODO: change this to SASS w/ JS
// $water: #6890F0;
// $flying: #A890F0;
// $ice: #98D8D8;
// $normal: #A8A878;

// pokemon types

:root {
  --water: #6890F0;
  --flying: #A890F0;
  --ice: #98D8D8;
  --normal: #A8A878;
}
