$pokered: #ED2331;
$yellow: #FFD24C;
$lightyellow: #FFD968;
$jetblack: #191715;
$darkgray: #333;
$ashgray: #666;
$gray: #DDD;
$lightgray: #EEE;
$white: #FFF;
$hotpink: #FF3277;
$brightgreen: #2CFF19;
$turquoise: #1EFFF3;
$deepskyblue: #07BDFF;
$azure: #0090FF;
$carolinablue: #53A2C6;
