$font-size: 10px;

%pokefont {
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  // override materialize
  margin: 0;
  padding: 0 0 1%;
}

h1 {
  @extend %pokefont;
  font-size: $font-size * 1.8;
  color: $white;
}

h2 {
  @extend %pokefont;
  font-size: $font-size * 1.3;
  line-height: 150%;
  color: $ashgray;
}

h3 {
  @extend %pokefont;
  font-size: $font-size;
  color: $jetblack;
}
