%pokefont {
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  // override materialize
  margin: 0;
  padding: 0;
}

h1 {
  @extend %pokefont;
  font-size: 18px;
  color: $white;
  text-align: center;
  padding-bottom: 1vh;
}

h2 {
  @extend %pokefont;
  font-size: 16px;
  line-height: 1.5em;
  color: $ashgray;
}

h3 {
  @extend %pokefont;
  font-size: 12px;
  color: $jetblack;
}
