$font-size: 10px;

@mixin pokefont {
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
}

h1 {
  @include pokefont;
  font-size: $font-size * 2;
}

h2 {
  @include pokefont;
  font-size: $font-size * 1.5;
  color: $ashgray;
}

h3 {
  @include pokefont;
  font-size: $font-size;
  color: $jetblack;
}
