@import "colors";
@import "mixins";

$container-width: 444px;
$container-height: 325px;
$image-size: 160px;

#image-preloader {
  position: absolute;
  @include center;
}

#image-display-container {
  width: $container-width;
  height: $container-height;
  border-radius: $round-border;
  background-color: $gray;
  top: 125px;
  left: 25px;
  box-shadow: -2px 2px 1px $ashgray, 2px -2px 0px lighten($ashgray, 50%);
  position: absolute;
}

#image-display {
  width: $container-width - 50;
  height: $container-height - 50;
  border-radius: $round-border / 4;
  background: $white;
  top: 25px;
  left: 25px;
  @include engraved-effect;
  position: absolute;
}

.pokemon-image {
  width: $image-size;
  height: $image-size;
  @include center;
  position: absolute;
}
