@import "colors";

$round-border: 25px;
$top-margin: 20px;
$left-margin: 20px;

* {
	margin: 0;
	padding: 0;
}

#pokedex {
  top: $top-margin;
  left: $left-margin;
  position: absolute;
}

#main-body {
  width: 500px;
  height: 650px;
  border-radius: 20px;
  background-color: $pokered;
  z-index: 1;
  box-shadow: -6px 5px 0px darken($pokered, 30%), inset -4px 4px 0px lighten($pokered, 30%);
  position: absolute;
}

#separator {
  width: 14px;
  height: 300px;
  border-radius: 1px;
  background: -webkit-linear-gradient(left, darken($pokered, 10%) 0%, darken($pokered, 25%) 50%, darken($pokered, 10%) 100%);
  box-shadow: -1px 1px 0px darken($pokered, 10%);
	top: $top-margin + 70 + 120;
	left: $left-margin + 480 - 11;
  z-index: 3;
  position: absolute;
}

#inside-flap {
  width: 500px;
  height: 560px;
  border-radius: $round-border;
  background-color: $pokered;
  top: $top-margin + 70;
  left: $left-margin +  480 - 4;
  z-index: 1;
  box-shadow: -1px 5px 0px darken($pokered, 30%), inset -4px 4px 0px lighten($pokered, 30%);
  position: absolute;
	// fix bottom box-shadow being cut off in mobile
	padding-bottom: 10px;
	overflow: visible;
}

@media screen and (max-width: 600px) {

	#pokedex {
		margin: auto;
	}

	#inside-flap {
		top: 650px + 5px;
		left: 0;
		box-shadow: -6px 5px 0px darken($pokered, 30%), inset -4px 4px 0px lighten($pokered, 30%);
	}

	#separator {
		display: none;
	}
}
