@import "colors";

$round-border: 25px;

#main-body {
  width: 500px;
  height: 650px;
  border-radius: 20px;
  background-color: $pokered;
  z-index: 1;
  box-shadow: -6px 5px 0px darken($pokered, 30%), inset -4px 4px 0px lighten($pokered, 30%);
  position: absolute;
}

#separator {
  width: 14px;
  height: 300px;
  border-radius: 1px;
  background: -webkit-linear-gradient(left, darken($pokered, 10%) 0%, darken($pokered, 25%) 50%, darken($pokered, 10%) 100%);
  box-shadow: -1px 1px 0px darken($pokered, 10%);
	top: 210px;
	left: 489px;
  z-index: 3;
  position: relative;
}

#inside-flap {
  width: 500px;
  height: 560px;
  border-radius: $round-border;
  background-color: $pokered;
  top: -210px;
  left: 496px;
  z-index: 1;
  box-shadow: -1px 5px 0px darken($pokered, 30%), inset -4px 4px 0px lighten($pokered, 30%);
  position: relative;
}

#spacing {
	width: 20px;
	height: 20px;
	top: 1210px;
	left: 0;
	position: absolute;
}

@media screen and (max-width: 600px) {

	#inside-flap {
		top: 655px;
		left: 0;
		box-shadow: -6px 5px 0px darken($pokered, 30%), inset -4px 4px 0px lighten($pokered, 30%);
	}

	#separator {
		display: none;
	}
}

@media screen and (min-width: 600px) {
	#spacing {
		display: none;
	}
}
