@import "colors";

$round-border: 20px;

* {
	margin: 0;
	padding: 0;
}

#pokedex {
  top: 20px;
  left: 20px;
  position: absolute;
}

#main-body {
  width: 400px;
  height: 520px;
  border-radius: 20px;
  background-color: $pokered;
  z-index: 1;
  box-shadow: -2px 2px 1px darken($pokered, 30%), inset -2px 2px 0px lighten($pokered, 30%);
  position: absolute;
}

#separator {
  width: 10px;
  height: 300px;
  border-radius: 1px;
  background: -webkit-linear-gradient(left, darken($pokered, 5%) 0%, darken($pokered, 15%) 50%, darken($pokered, 5%) 100%);
  box-shadow: -1px 1px 0px darken($pokered, 10%);
  left: 393px;
  top: 145px;
  z-index: 3;
  position: absolute;
}

#inside-flap {
  width: 400px;
  height: 450px;
  border-radius: $round-border;
  background-color: $pokered;
  top: 71px;
  left: 398px;
  z-index: 1;
  box-shadow: 0px 2px 1px darken($pokered, 30%), inset -2px 2px 0px lighten($pokered, 30%);
  position: absolute;
}
